<!DOCTYPE html>
<%- include ('../partials/head.ejs') %>

    <body>
        <header><%- include ('../partials/nav.ejs') %></header>
        <main>
            <article>
                    <header>
                        <h2>
                            <%= ress.title %>
                        </h2>
                    </header>
                    <p>
                        <%= ress.content %>
                    </p>

                    <footer>
                        <div>
                            <a href="/blog">See all ress</a>
                            <a href="/blog/delete/<%= ress.id %>">🗑️</a>
                        </div>
                    </footer>
                    
            </article>
            
        </main>
    </body>
</html>